.home {
  min-height: 100vh;
  background: var(--bg-secondary);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.homeMiddle {
  margin-top: 75px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1175px) {
  .stories,
  .createPost {
    width: 84%;
  }

  .homeMiddle {
    margin-left: 5%;
  }

  .rightSide {
    width: 18vw;
  }
}

@media (max-width: 1030px) {
  .leftSide .leftLink span,
  .leftSide .leftLink .col,
  .shortcut,
  .shortcut_item span,
  .splitter {
    display: none;
  }

  .leftSide {
    width: 70px;
  }

  .leftLink {
    background: var(--bg-third);
  }
}
