.home {
  min-height: 100vh;
  background: var(--bg-secondary);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.homeMiddle {
  margin-top: 75px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1175px) {
  .stories,
  .createPost {
    width: 84%;
  }

  .homeMiddle {
    margin-left: 5%;
  }

  .rightSide {
    width: 18vw;
  }
}

@media (max-width: 1030px) {
  .leftSide .leftLink span,
  .leftSide .leftLink .col,
  .shortcut,
  .shortcut_item span,
  .splitter,
  .fb_copyright {
    display: none;
  }

  .leftSide {
    width: 70px;
  }

  .leftLink {
    background: var(--bg-third);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }

  .homeMiddle {
    position: relative;
    margin-left: 55px;
  }

  .rightSide {
    width: 20vw;
  }

  .contacts_header_right {
    right: 10%;
  }

  .contact_circle {
    width: 20px;
  }
}

.stories,
.createPost {
  width: 100%;
}
