.home {
  min-height: 100vh;
  background: var(--bg-secondary);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.homeMiddle {
  margin-top: 75px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1175px) {
  .stories,
  .createPost {
    width: 84%;
  }

  .homeMiddle {
    margin-left: 5%;
  }

  .rightSide {
    width: 18vw;
  }
}

@media (max-width: 1030px) {
  .leftSide .leftLink span,
  .leftSide .leftLink .col,
  .shortcut,
  .shortcut_item span,
  .splitter,
  .fb_copyright {
    display: none;
  }

  .leftSide {
    width: 70px;
  }

  .leftLink {
    background: var(--bg-third);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }

  .homeMiddle {
    position: relative;
    margin-left: 55px;
  }

  .rightSide {
    width: 20vw;
  }

  .contacts_header_right {
    right: 10%;
  }

  .contact_circle {
    width: 20px;
  }
  .stories,
  .createPost {
    width: 100%;
  }
}

@media (max-width: 960px) {
  .createPost {
    width: 93%;
  }

  .stories {
    width: 95%;
  }

  .homeMiddle {
    margin-left: 10%;
  }

  .rightSide {
    left: 78%;
    width: 20vw;
  }

  .splitter {
    width: 20vw;
  }

  .contact_circle {
    width: 30px;
  }

  .contacts_header_right {
    right: 0;
  }
}

@media (max-width: 885px) {
  .rightSide {
    display: none;
  }

  .createPost {
    width: 110%;
  }

  .stories {
    width: 113%;
  }

  .homeMiddle {
    margin-left: 9%;
  }
}

@media (max-width: 805px) {
  .stories {
    grid-template-columns: repeat(6, 13vw);
  }

  .story_emri_profilit,
  .story_create_text {
    display: none;
  }

  .create_story_card {
    filter: brightness(96%);
  }

  .stories .white_circle {
    right: 5px;
  }

  .story_foto_profilit {
    width: 7vw;
    height: 7vw;
  }

  .leftSide::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 620px) {
  .leftSide {
    display: none;
  }

  .homeMiddle {
    position: absolute;
    margin-left: 0;
  }

  .stories,
  .createPost {
    width: 100%;
  }

  .stories .white_circle {
    display: none;
  }

  .stories {
    grid-template-columns: repeat(6, 14vw);
  }

  .story,
  .create_story_card {
    height: 30vw;
  }

  .createPost_icon {
    font-size: 12px;
  }

  .open_post {
    font-size: 15px;
  }

  .createPost_icon svg {
    width: 20px;
  }
}
